.channel, .unread-channel, .current-channel {
    display: flex;
    flex: 1;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.servers-sidebar, .channels-sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 100%;
    min-width: fit-content;
}

.servers-sidebar {
    .channel, .unread-channel, .current-channel {
        a {
            max-width: 80px;
            overflow: hidden;
        }
    }
}

.channels-sidebar {
    width: var(--channels-sidebar-width);
}

.channel, .unread-channel {
    &:hover {
        background-color: var(--color-primary-bg);
        color: var(--color-primary-text);
    }
}

.unread-channel {
    color: var(--color-primary-text);
}

.current-channel {
    background-color: var(--color-border);
    color: var(--color-primary-text);
}